<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Girls</title>
</head>
<body>
    <nav>
        Django Girls!
    </nav>
    <main>
        <article>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Do sint occaecat consequat consequat. Labore Lorem dolore duis ut non ad dolor esse labore. In elit occaecat eu culpa. Et sit labore ex ad et dolor ipsum nisi ea eu do adipisicing occaecat. Sit eiusmod aliqua velit adipisicing veniam irure ad cupidatat sit veniam nostrud voluptate. In irure laborum incididunt consectetur laborum ipsum id velit cillum sint Lorem.</p>
        </article>

        <article>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Do sint occaecat consequat consequat. Labore Lorem dolore duis ut non ad dolor esse labore. In elit occaecat eu culpa. Et sit labore ex ad et dolor ipsum nisi ea eu do adipisicing occaecat. Sit eiusmod aliqua velit adipisicing veniam irure ad cupidatat sit veniam nostrud voluptate. In irure laborum incididunt consectetur laborum ipsum id velit cillum sint Lorem.</p>
        </article>

        <article>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My third post</a></h2>
            <p>Do sint occaecat consequat consequat. Labore Lorem dolore duis ut non ad dolor esse labore. In elit occaecat eu culpa. Et sit labore ex ad et dolor ipsum nisi ea eu do adipisicing occaecat. Sit eiusmod aliqua velit adipisicing veniam irure ad cupidatat sit veniam nostrud voluptate. In irure laborum incididunt consectetur laborum ipsum id velit cillum sint Lorem.</p>
        </article>
    </main>
</body>
</html>